header{
    text-align: center;
}

#input-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    margin-bottom: 0;
    font-size: 1.5rem;
}

#length, #width{
    margin-bottom: 1rem;
}

button{
    font-size: 1rem;
    padding: 5px 16px;
}

#calc-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#area-display{
    margin: 1rem;
}

#microns{
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-around;
}

th{
    padding: 1rem;
}

td{
    text-align: center;
}

#highMicrons{
    display: none;
}

#directions{
    display: none;
    text-align: left;
}